@model BusinessObject.Product
<h3>Edit product</h3>
<h5><a asp-action="Index" asp-controller="Product">Back to list</a></h5>
<form asp-controller="Product" asp-action="EditProduct" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.ProductId" class="form-control" />
    <div style="margin-bottom: 40px;" class="form-group">
        <label asp-for="@Model.ProductName" class="control-label"></label>
        <input asp-for="@Model.ProductName" class="form-control" />
    </div>
    <div style="margin-bottom: 40px;" class="form-group">
        <label asp-for="@Model.Weight" class="control-label"></label>
        <input asp-for="@Model.Weight" class="form-control" />
    </div>
    <div style="margin-bottom: 40px;" class="form-group">
        <label asp-for="@Model.UnitPrice" class="control-label"></label>
        <input asp-for="@Model.UnitPrice" class="form-control" />

    </div>
    <div style="margin-bottom: 40px;" class="form-group">
        <label asp-for="@Model.UnitsInStock" class="control-label"></label>
        <input asp-for="@Model.UnitsInStock" class="form-control" />
    </div>
    <div style="margin-bottom: 40px;" class="form-group">
        <label asp-for="@Model.CategoryId" class="control-label"></label>
        <select asp-for="@Model.CategoryId" class="form-control">
            @foreach (var item in ViewBag.Categories)
            {
                <option value="@item.CategoryId" selected="@(item.CategoryId == Model.CategoryId)">@item.CategoryName</option>
            }
        </select>
        @*<input asp-for="@Model.CategoryId" class="form-control" />*@
    </div>

    <div style="margin-bottom: 40px;" class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>
